In [2]:
from find import *
import pandas as pd

In [ ]:
# Remove unneeded columns
df = pd.read_csv('NFL TRACKING/2017091100.csv')
df = df.drop(columns=['nflId', 'displayName', 'frameId', 'gameId', 'time']).rename(columns={'Unnamed: 0': 'index'})
df.to_csv('cleaned.csv', index=False)

   Unnamed: 0                  time      x      y  speed  distance  direction  \
0           0  2017-09-11T23:10:42Z  47.16  18.83   0.05       0.0     262.65
1           1  2017-09-11T23:10:42Z  47.15  18.83   0.11       0.0     269.41
2           2  2017-09-11T23:10:42Z  47.15  18.83   0.28       0.0     274.54

  event     nflId           displayName  jerseyNumber  team  frameId  \
0   NaN  497246.0  Michael Hoomanawanui          84.0  away        1
1   NaN  497246.0  Michael Hoomanawanui          84.0  away        2
2   NaN  497246.0  Michael Hoomanawanui          84.0  away        3

       gameId  playId
0  2017091100      63
1  2017091100      63
2  2017091100      63

In [6]:
# Find all passes
searchCSV('cleaned.csv', [('event', '.pass')], 'passes.csv')

,index,x,y,speed,distance,direction,event,jerseyNumber,team,playId
0,7739,30.57,23.53,1.2,0.13,318.93,pass_forward,60.0,away,152
1,7746,30.47,24.62,2.03,0.27,11.29,pass_arrived,60.0,away,152
2,7749,30.81,25.49,2.46,0.32,19.74,pass_outcome_incomplete,60.0,away,152
3,7793,26.63,24.62,0.73,0.06,301.8,pass_forward,9.0,away,152
4,7800,26.68,24.68,0.19,0.01,330.6,pass_arrived,9.0,away,152
...,...,...,...,...,...,...,...,...,...,...
4195,250040,23.35,30.43,1.59,0.21,225.54,pass_arrived,99.0,home,3810
4196,250045,22.47,30.18,1.8,0.18,252.37,pass_outcome_touchdown,99.0,home,3810
4197,250091,11.23,22.42,2.26,0.27,281.71,pass_forward,20.0,home,3810
4198,250099,9.73,23.2,2.12,0.23,322.6,pass_arrived,20.0,home,3810
4199,250104,9.31,24.34,2.11,0.25,341.41,pass_outcome_touchdown,20.0,home,3810

In [7]:
# Get all plays that involves passing
df_passes = pd.read_csv('passes.csv')
playIds = df_passes['playId'].unique()

In [8]:
df_plays = pd.DataFrame()
for playId in playIds:
    result = searchCSV('cleaned.csv', [('playId', str(playId))])
    df_plays = pd.concat([df_plays, result], ignore_index=True)

df_plays.head(3)

,index,x,y,speed,distance,direction,event,jerseyNumber,team,playId
0,7705,33.59,23.86,0.02,0.02,84.35,line_set,60.0,away,152
1,7706,33.59,23.85,0.01,0.01,81.83,,60.0,away,152
2,7707,33.59,23.85,0.02,0.0,244.76,,60.0,away,152

In [6]:
df_plays.to_csv('temp.csv', index=False)

In [9]:
df_pass_forwards = searchDF(df_plays, [('event', 'pass_forward')])
df_pass_forwards.head(22)

,index,x,y,speed,distance,direction,event,jerseyNumber,team,playId
0,7739,30.57,23.53,1.2,0.13,318.93,pass_forward,60.0,away,152
1,7793,26.63,24.62,0.73,0.06,301.8,pass_forward,9.0,away,152
2,7847,28.49,21.21,2.87,0.35,304.15,pass_forward,64.0,away,152
3,7901,40.07,38.99,6.5,0.65,63.23,pass_forward,19.0,away,152
4,7955,37.85,32.34,3.84,0.42,26.67,pass_forward,82.0,away,152
5,8009,29.69,21.9,2.99,0.35,256.99,pass_forward,67.0,away,152
6,8063,36.71,47.22,1.98,0.2,62.7,pass_forward,16.0,away,152
7,8117,29.51,25.82,2.2,0.31,274.66,pass_forward,75.0,away,152
8,8171,40.01,4.97,6.41,0.7,107.97,pass_forward,13.0,away,152
9,8225,28.56,27.98,1.85,0.3,265.63,pass_forward,71.0,away,152
10,8279,37.86,13.57,4.43,0.48,131.33,pass_forward,41.0,away,152
11,8333,28.57,20.46,3.65,0.36,302.38,pass_forward,97.0,home,152
12,8387,31.51,23.5,1.18,0.13,314.79,pass_forward,98.0,home,152
13,8441,41.36,38.8,3.83,0.36,63.5,pass_forward,23.0,home,152
14,8495,29.33,26.36,3.81,0.41,260.27,pass_forward,92.0,home,152
15,8549,44.4,30.82,2.5,0.27,5.06,pass_forward,34.0,home,152
16,8603,41.4,13.15,1.46,0.2,140.58,pass_forward,22.0,home,152
17,8657,38.75,45.93,2.1,0.24,99.82,pass_forward,29.0,home,152
18,8711,38.62,20.39,2.18,0.22,31.92,pass_forward,55.0,home,152
19,8765,38.25,31.04,4.53,0.45,358.16,pass_forward,54.0,home,152
20,8819,40.93,6.02,5.55,0.59,108.63,pass_forward,26.0,home,152
21,8873,28.84,28.84,2.25,0.3,252.02,pass_forward,99.0,home,152

In [ ]:
df_pass_forwards['result'] = None
# pass_arrived pass_outcome_caught, pass_outcome_incomplete, pass_outcome_interception, pass_outcome_touchdown, pass_outcome_tipped
for playId in playIds:
    events = searchDF(df_passes, [('playId', str(playId))])['event'].values
    if 'pass_outcome_caught' in events:
        result = 1
    elif 'pass_outcome_incomplete' in events:
        result = 2
    elif 'pass_outcome_interception' in events:
        result = 3
    elif 'pass_outcome_touchdown' in events:
        result = 4
    elif 'pass_outcome_tipped' in events:
        result = 5
    elif 'pass_arrived' in events:
        result = 0
    else:
        raise Exception(f'Events does not contain any passes in {playId}')
    df_pass_forwards.loc[df_pass_forwards['playId'] == str(playId), 'result'] = result

df_pass_forwards = df_pass_forwards.drop('event', axis=1)
df_pass_forwards['team'] = df_pass_forwards['team'].replace({'home':0, 'away':3})
df_pass_forwards.rename(columns={'team':'role'}, inplace=True)
df_pass_forwards.head(44)

In [13]:
df_pass_forwards.to_csv('data.csv', index=False)

In [ ]:
class Node:
    def __init__(self, jerseyNumber, x, y, speed, distance, direction, role):
        self.number = jerseyNumber # Not used in prediction
        self.x = x
        self.y = y
        self.speed = speed
        self.distance = distance
        self.direction = direction
        self.role = role # 0 = home, 1 = initiator, 2 = receiver, 3 = away

In [16]:
df = pd.read_csv('data.csv')
playId = 152
team = 3 # 0 = home(blue), 3 = away(white)
init = 9
recv = 41

# viking home, saints away

# Initiator
print(f"Initiator exist: {((df['playId'] == playId) & (df['jerseyNumber'] == float(init)) & (df['role'] == team)).any()}")
df.loc[(df['playId'] == playId) & (df['jerseyNumber'] == float(init)) & (df['role'] == team), 'role'] = 1
# Receiver
print(f"Receiver exist: {((df['playId'] == playId) & (df['jerseyNumber'] == float(recv)) & (df['role'] == team)).any()}")
df.loc[(df['playId'] == playId) & (df['jerseyNumber'] == float(recv)) & (df['role'] == team), 'role'] = 2

df.to_csv('data.csv', index=False)

Initiator exist: False
Receiver exist: False